* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
}
nav {
  height: 40px;
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}
ul {
  display: flex;
  margin-left: auto;
  list-style: none;
}
h2 {
  margin-left: 10px;
}
a {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-weight: bold;
  border-left: 2px dashed white;
}
